* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

/*COMMON*/
.container {
	position: relative;
	margin: 0 auto;
	width: 80%;
	height: 100%;
}

img {
	width: 100%;
}

.float-l {
	float: left;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn {
	border-radius: 10px;
	padding: 10px 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

.button-light {
	border: 1px white solid;
}

.button-green {
	border: 1px #7cbb02 solid;
	background-color: #7cbb02;
}

.grey-block {
	background-color: #d3d3d3;
}

.text-center {
	text-align: center;
}

section .container {
	margin-top: 2%;
}

.p-text-grey {
	font-size: 17px;
	color: #808080;
	margin-top: 1%;
}
/* HEADER */
header {
	background-image: url("../img/background-header.png");
	background-color: #0c325a;
	height: 500px;
	background-size: 1000px;
	background-repeat: no-repeat;
	background-position: 108% 118%;
}

/*Menu*/

nav {
	padding-top: 10px;
}

.menu li {
	list-style-type: none;
	display: inline-block;
	line-height: 49px;
	margin-left: 3%;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

.menu li a:hover {
	color: orange;
}
.menu li a.btn:hover {
	color: white;
}

.menu-central {
	width: 50%;
	padding-left: 2%;
}

.menu-right {
	width: 40%;
}

/*Teaser*/
.teaser {
	position: absolute;
	bottom: 37%;
	left: 11%;
	width: 50%;
}

.teaser h1 {
	color: white;
	font-size: 40px;
	font-weight: 700;
}

.teaser a {
	margin-top: 2%;
	display: inline-block;
}

/*SUBHEADER*/
.sub-header {
	padding: 2% 0;
}

/*MAIN*/

main hr {
	width: 95%;
	margin: 2% auto;
}

/*Section 1*/
.columns-section-1 {
	width: 30%;
}

.columns-section-1 img {
	display: block;
	height: 150px;
}

.columns-section-1:nth-child(2) {
	margin: 0 5%;
}

.columns-section-1 h2 {
	font-size: 31px;
	color: #7cbb02;
	padding: 2% 0;
}

.columns-section-1 hr {
	width: 20%;
	margin: 0 auto;
}

.columns-section-1 .p-text-grey {
	margin-top: 5%;
}

.text-h2 {
	height: 90px;
}

/*Section 2*/

.img-section-2,
.text-section-2 {
	width: 50%;
}

.img-section-2 img {
	width: 80%;
}

.text-section-2 {
	padding-left: 8%;
}

.text-section-2 h2 {
	font-size: 40px;
	width: 40%;
}

.text-section-2 a {
	display: inline-block;
	margin-top: 6%;
}
